*{
    margin:0;
    padding:0;
}

header {
    
    margin : 10px 20px;
    padding : 10px 20px;
    border : 1px solid black;
    text-align: center;
}

.userList-container{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.user-container{
    height: 250px;
    width:250px;
    border: 1px solid black;
}

.user-container img{
    width: 250px;
    height: 200px;
    /* display: block; */
    /* width: 128px;
    height: 128px; */
    /* margin-left: auto;
    margin-right: auto;
    width: 50%; */
   
}

.user-container h3{
    text-align: center;
}

